In [4]:
import datetime as dt
import pandas as pd
import pandas_datareader as web
from fredapi import Fred
fred = Fred(api_key='c9fa6f012c9ea24190b41703d64f6d08')

# 'start' et "end" correspondent à la date de début et la date de fin des séries de donnés que nous allons importer
start = dt.datetime(2017, 4, 1)
end = dt.datetime(2022, 3, 1)

# "var_indep_dict" est le dictionnaire stockant les variables explicative. Les clefs correspondent aux codes des données et
# les valeurs sont des dataframes
var_exp_dict = {}

var_exp_df = pd.DataFrame()

var_exp = ['dhhngsp','dcoilwtico','dcoilbrenteu', 'will5000prfc','dpropanembtx','dhoilnyh','willresipr',
           'vixcls','gvzcls','ovxcls','vxvcls', 'dexuseu', 'dexusuk', 'dexchus', 'dexjpus', 'dexkous',
           'dexmxus', 'dexinus', 'dexvzus', 'dexbzus', 'dexszus', 'IHLCHG10740', "IHLCHG10420", "IHLCHG28940", 
           "IHLCHG44060", "DTWEXEMEGS", "USRECD", "EURORECD", "JPNRECDP"
          ]

for i in var_exp:
    # téléchargement sur la fed américaine à l'aide de pandas datareader
    var_exp_dict[i] = web.DataReader(i.upper(), 'fred', start, end)
    if var_exp_df.empty:
        var_exp_df = var_exp_dict[i]
    else:
        var_exp_df = var_exp_df.join(var_exp_dict[i])



var_exp_labels = []

# pour transformer les quotes de var_exp en titres plus compréhensibles
for old_key in var_exp:
    new_key = fred.get_series_info(old_key)['title']
    var_exp_labels.append(new_key)

# ceci est nécessaire pour des opérations plus tard
var_exp_up = [i.upper() for i in var_exp]
    
mapper = dict(zip(var_exp_up, var_exp_labels))

var_indep_dict = var_exp_df.rename(columns=mapper)

In [9]:
dict_direction = {"ALIMENTAIRE":"COW_TO",
                  "COMMODITÉS":"VPU",
                  "CONSOMMATION":"XRT", 
                  "ÉNERGIE":"VDE",
                  "FINANCE":"KRE",
                  "TECHNOLOGIE":"VGT",
                  "STAPLES": "VCSAX",
                  "TRANSPORT": "XTN",
                  "REALESTATE": "VNQ"
                  }

In [13]:
dependent_var_dict = {}
for elem in dict_direction:
    dependent_var_dict[elem] = pd.read_csv(f"{dict_direction[elem]}.csv")

In [14]:
dependent_var_dict

{'ALIMENTAIRE':             Date       Open       High        Low      Close  Adj Close  \
 0     2017-09-13  39.878719  39.911797  39.878719  39.900772  37.464195
 1     2017-09-14  39.911797  40.033077  39.911797  40.011024  37.567715
 2     2017-09-15  40.011024  40.507168  40.011024  40.507168  38.033558
 3     2017-09-18  40.055126  41.488422  40.055126  41.400223  38.872078
 4     2017-09-19  41.300991  41.653805  41.300991  41.565601  39.027359
 ...          ...        ...        ...        ...        ...        ...
 1249  2022-09-06  71.110001  71.110001  68.860001  68.910004  68.910004
 1250  2022-09-07  68.860001  69.470001  68.489998  69.300003  69.300003
 1251  2022-09-08  69.300003  69.849998  68.699997  69.839996  69.839996
 1252  2022-09-09  70.930000  70.930000  70.309998  70.769997  70.769997
 1253  2022-09-12  70.839996  70.839996  68.730003  69.180000  69.180000

       Volume
 0        544
 1       1542
 2       3084
 3       9886
 4       1088
 ...      ...
 1249   22400
 1250    5300
 1251   13600
 1252    9100
 1253    8700

 [1254 rows x 7 columns],
 'COMMODITÉS':             Date        Open        High         Low       Close   Adj Close  \
 0     2017-09-13  120.629997  120.629997  119.970001  119.989998  102.832451
 1     2017-09-14  120.000000  121.110001  119.639999  121.110001  103.792320
 2     2017-09-15  121.099998  121.540001  120.699997  121.239998  103.903717
 3     2017-09-18  121.199997  121.300003  119.389999  120.150002  102.969582
 4     2017-09-19  120.279999  120.290001  119.720001  119.839996  102.703903
 ...          ...         ...         ...         ...         ...         ...
 1253  2022-09-06  162.850006  164.360001  161.869995  162.250000  162.250000
 1254  2022-09-07  162.889999  167.320007  162.889999  167.210007  167.210007
 1255  2022-09-08  166.500000  168.059998  166.210007  167.089996  167.089996
 1256  2022-09-09  167.919998  168.580002  166.699997  167.720001  167.720001
 1257  2022-09-12  168.119995  169.550003  167.729996  169.410004  169.410004

       Volume
 0      83800
 1     101300
 2      57800
 3     115200
 4     528700
 ...      ...
 1253  196700
 1254  208400
 1255  154700
 1256  116700
 1257  200200

 [1258 rows x 7 columns],
 'CONSOMMATION':             Date       Open       High        Low      Close  Adj Close  \
 0     2017-09-13  41.180000  41.540001  41.110001  41.380001  38.346706
 1     2017-09-14  41.250000  41.389999  40.939999  41.070000  38.059433
 2     2017-09-15  40.610001  41.220001  40.610001  41.200001  38.349850
 3     2017-09-18  41.330002  41.520000  40.910000  41.040001  38.200916
 4     2017-09-19  40.939999  41.099998  40.430000  40.619999  37.809975
 ...          ...        ...        ...        ...        ...        ...
 1253  2022-09-06  63.000000  63.230000  61.470001  62.369999  62.369999
 1254  2022-09-07  62.369999  64.559998  62.270000  64.389999  64.389999
 1255  2022-09-08  63.509998  64.300003  62.820000  64.250000  64.250000
 1256  2022-09-09  64.570000  66.120003  64.419998  66.010002  66.010002
 1257  2022-09-12  66.580002  67.750000  66.339996  67.150002  67.150002

        Volume
 0     4615100
 1     2536600
 2     3830500
 3     3608700
 4     3968300
 ...       ...
 1253  4694700
 1254  4963300
 1255  3980800
 1256  3765400
 1257  3913400

 [1258 rows x 7 columns],
 'ÉNERGIE':             Date        Open        High         Low       Close   Adj Close  \
 0     2017-09-13   89.080002   90.300003   89.080002   90.209999   74.556549
 1     2017-09-14   90.440002   91.330002   90.370003   90.690002   74.953247
 2     2017-09-15   90.910004   90.910004   90.209999   90.820000   75.060692
 3     2017-09-18   90.620003   91.320000   90.570000   91.320000   75.473915
 4     2017-09-19   91.309998   91.730003   91.260002   91.550003   75.664001
 ...          ...         ...         ...         ...         ...         ...
 1253  2022-09-06  113.769997  114.190002  111.320000  111.690002  111.690002
 1254  2022-09-07  109.239998  110.809998  108.260002  110.379997  110.379997
 1255  2022-09-08  110.889999  111.550003  109.709999  111.029999  111.029999
 1256  2022-09-09  113.129997  114.389999  112.320000  113.860001  113.860001
 1257  2022-09-12  115.370003  116.980003  114.370003  115.830002  115.830002

        Volume
 0      251300
 1      252700
 2      258700
 3      407200
 4      265500
 ...       ...
 1253   594500
 1254   957300
 1255   697900
 1256   531800
 1257  1000900

 [1258 rows x 7 columns],
 'FINANCE':             Date       Open       High        Low      Close  Adj Close  \
 0     2017-09-13  52.490002  52.970001  52.369999  52.900002  46.941399
 1     2017-09-14  52.900002  53.049999  52.279999  52.349998  46.453354
 2     2017-09-15  52.070000  52.470001  51.970001  52.369999  46.654686
 3     2017-09-18  52.610001  53.299999  52.590000  53.110001  47.313923
 4     2017-09-19  53.110001  53.610001  53.040001  53.459999  47.625736
 ...          ...        ...        ...        ...        ...        ...
 1253  2022-09-06  61.990002  62.299999  60.349998  60.770000  60.770000
 1254  2022-09-07  60.480000  62.060001  60.430000  61.939999  61.939999
 1255  2022-09-08  61.419998  63.320000  61.189999  63.270000  63.270000
 1256  2022-09-09  63.849998  64.330002  63.509998  64.050003  64.050003
 1257  2022-09-12  64.180000  65.010002  64.110001  64.690002  64.690002

        Volume
 0     6760600
 1     4482100
 2     5243100
 3     5222500
 4     4314700
 ...       ...
 1253  7262300
 1254  7369100
 1255  7464800
 1256  5973100
 1257  4787800

 [1258 rows x 7 columns],
 'TECHNOLOGIE':             Date        Open        High         Low       Close   Adj Close  \
 0     2017-09-13  151.860001  151.860001  151.339996  151.789993  144.225479
 1     2017-09-14  151.300003  151.970001  150.899994  151.380005  143.835907
 2     2017-09-15  151.240005  152.020004  150.910004  151.809998  144.244461
 3     2017-09-18  152.050003  152.630005  151.500000  151.970001  144.396500
 4     2017-09-19  152.320007  152.729996  151.860001  152.490005  144.890594
 ...          ...         ...         ...         ...         ...         ...
 1253  2022-09-06  342.799988  343.670013  337.500000  339.670013  339.670013
 1254  2022-09-07  340.170013  346.510010  339.000000  345.079987  345.079987
 1255  2022-09-08  342.579987  348.540009  341.109985  347.160004  347.160004
 1256  2022-09-09  349.989990  355.369995  349.929993  354.660004  354.660004
 1257  2022-09-12  356.649994  360.339996  356.649994  360.279999  360.279999

       Volume
 0     434200
 1     231400
 2     225200
 3     401300
 4     501200
 ...      ...
 1253  605500
 1254  549300
 1255  395500
 1256  308000
 1257  303400

 [1258 rows x 7 columns],
 'STAPLES':             Date       Open       High        Low      Close  Adj Close  \
 0     2017-09-13  70.059998  70.059998  70.059998  70.059998  61.807537
 1     2017-09-14  69.889999  69.889999  69.889999  69.889999  61.657551
 2     2017-09-15  70.089996  70.089996  70.089996  70.089996  61.833981
 3     2017-09-18  70.150002  70.150002  70.150002  70.150002  61.886925
 4     2017-09-19  69.930000  69.930000  69.930000  69.930000  61.692848
 ...          ...        ...        ...        ...        ...        ...
 1253  2022-09-06  91.620003  91.620003  91.620003  91.620003  91.620003
 1254  2022-09-07  93.290001  93.290001  93.290001  93.290001  93.290001
 1255  2022-09-08  93.120003  93.120003  93.120003  93.120003  93.120003
 1256  2022-09-09  94.080002  94.080002  94.080002  94.080002  94.080002
 1257  2022-09-12  94.459999  94.459999  94.459999  94.459999  94.459999

       Volume
 0          0
 1          0
 2          0
 3          0
 4          0
 ...      ...
 1253       0
 1254       0
 1255       0
 1256       0
 1257       0

 [1258 rows x 7 columns],
 'TRANSPORT':             Date       Open       High        Low      Close  Adj Close  \
 0     2017-09-13  58.369999  58.410000  58.139999  58.380001  55.494152
 1     2017-09-14  57.880001  58.029999  57.450001  57.470001  54.629147
 2     2017-09-15  57.310001  57.500000  57.169998  57.500000  54.756748
 3     2017-09-18  57.619999  57.720001  57.540001  57.590000  54.842464
 4     2017-09-19  57.680000  57.910000  57.430000  57.490002  54.747231
 ...          ...        ...        ...        ...        ...        ...
 1253  2022-09-06  72.209999  72.220001  71.139999  71.849998  71.849998
 1254  2022-09-07  71.699997  73.040001  71.190002  72.930000  72.930000
 1255  2022-09-08  72.290001  72.879997  71.650002  72.699997  72.699997
 1256  2022-09-09  73.320000  74.320000  73.260002  74.209999  74.209999
 1257  2022-09-12  74.830002  75.620003  74.830002  75.230003  75.230003

       Volume
 0      22500
 1      12600
 2       5600
 3       6200
 4       9300
 ...      ...
 1253   23800
 1254   12900
 1255   16900
 1256   13500
 1257   19400

 [1258 rows x 7 columns],
 'REALESTATE':             Date       Open       High        Low      Close  Adj Close  \
 0     2017-09-13  84.720001  84.760002  84.190002  84.480003  70.056030
 1     2017-09-14  84.370003  85.220001  84.169998  85.180000  70.636513
 2     2017-09-15  85.129997  85.379997  84.580002  85.339996  70.769173
 3     2017-09-18  85.320000  85.470001  84.610001  84.879997  70.387726
 4     2017-09-19  84.949997  84.970001  84.260002  84.320000  69.923347
 ...          ...        ...        ...        ...        ...        ...
 1253  2022-09-06  92.269997  93.099998  91.760002  92.709999  92.709999
 1254  2022-09-07  92.709999  94.709999  92.669998  94.519997  94.519997
 1255  2022-09-08  94.029999  95.110001  93.750000  94.779999  94.779999
 1256  2022-09-09  95.080002  96.139999  94.680000  95.809998  95.809998
 1257  2022-09-12  96.190002  96.919998  96.070000  96.739998  96.739998

        Volume
 0     1840100
 1     2839400
 2     3172800
 3     3442200
 4     2916500
 ...       ...
 1253  4591800
 1254  3681100
 1255  3408300
 1256  4129200
 1257  2737500

 [1258 rows x 7 columns]}